# Ignore Python compiled files
*.pyc

# Ignore cache directories
__pycache__/

# Ignore virtual environment folder
venv/
.venv/

# Ignore other common directories not meant for version control
*.log
.DS_Store  # macOS folder metadata
